<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", intial-scale=1.0">
<title>CRUD</title>
<link rel="stylesheet" href={%static 'basics/css/bootstrap.css'%}
</head>
<body>
<div class="container mt-5">
<h2 class="text center alert alert-danger">Function Based View ModeForm CRUD Project</h2>
{%block content%}

{%endblock  %}
</div>

<script src="{% static 'basics/js/jquery.js'%}"></script>
<script src="{% static 'basics/js/popper.js'%}"></script>
<script src="{% static 'basics/js/bootstrap.js'%}"></script>



</body>
</html>
